/*made by Tostiman
https://github.com/t0stiman/imgur_without_distractions
https://tostiman.com
*/

/*hide stuff i dont need*/
.NavbarNotifications,
.EmeraldButton,
.Navigation-Container,
.Gallery-Sidebar,
.Gallery-EngagementBar,
.BottomAd-container,
.Footer-wrapper,
#qc-cmp2-persistent-link,
.BottomRecirc,
.Gallery-Content-BottomAd
{
	display: none;
}

/* visual tweaks*/
div.Gallery {
	padding-top: 0;
}